<div *ngIf="role=='administrador'">
  <app-header></app-header>
  <app-admin-side-bar></app-admin-side-bar>

  <div class="br-mainpanel">

    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
      <h4 class="tx-gray-800 mg-b-5">Ver el Inventario de la Empresa</h4>
      <p class="mg-b-0">Una colección donde se puede ver todos los bienes de inventario de toda la empresa.</p>
    </div>

    <div class="br-pagebody">
      <div class="br-section-wrapper">
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Inventario</h6>
        <p class="mg-b-25 mg-lg-b-50">Presionar el botón de Generar Reporte para descargar un archivo de Excel.</p>

        <div class="row mg-b-25">
          <div class="col-lg-4">
            <input id="searchbox" type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchText">
          </div>
          <div class="col-lg-4">
            <select class="form-control" [(ngModel)]="selectedDepartment" (change)="filterByDepartment()">
              <option label="Todos los Departamentos"></option>
              <option *ngFor="let department of departmentInventory" [value]="department">{{ department }}</option>
            </select>
          </div>
        </div>

        <div class="bd bd-gray-300 rounded table-responsive">
          <div class="table-wrapper">
            <table class="table mg-b-0" id="table-excel" *ngIf="listInventory.length > 0">
              <thead>
                <tr>
                  <th>Tipo de Documento</th>
                  <th>Fecha</th>
                  <th>Inventario Anterior</th>
                  <th>Descripción</th>
                  <th>Número de Serie</th>
                  <th>Color</th>
                  <th>Departmento</th>
                  <th>Número de Teléfono</th>
                  <th>Piso</th>
                  <th>Edificio</th>
                  <th>Tipo de Documento</th>
                  <th>Número de Documento</th>
                  <th>Fecha de Documento</th>
                  <th>Precio Unitario </th>
                  <th>Número de Identidad</th>
                  <th>Nombre Completo</th>
                  <th>Estado del Bien</th>
                  <th>Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inventory of listInventory | search: searchText">
                  <td>{{ inventory.BackUpDocumentType }}</td>
                  <td>{{ inventory.BackUpDate }}</td>
                  <td>{{ inventory.BackUpInventoryNumber }}</td>
                  <td>{{ inventory.InvoiceDescription }}</td>
                  <td>{{ inventory.SerialNumber }}</td>
                  <td>{{ inventory.Color }}</td>
                  <td>{{ inventory.Department }}</td>
                  <td>{{ inventory.PhoneNumber }}</td>
                  <td>{{ inventory.Floor }}</td>
                  <td>{{ inventory.Building }}</td>
                  <td>{{ inventory.ValuationDocumentType }}</td>
                  <td>{{ inventory.DocumentNumber }}</td>
                  <td>{{ inventory.DocumentDate }}</td>
                  <td>{{ inventory.UnitPrice }}</td>
                  <td>{{ inventory.OwnerNoId }}</td>
                  <td>{{ inventory.OwnerName }}</td>
                  <td>{{ inventory.Status }}</td>
                  <td>{{ inventory.Observations }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div><!-- bd -->




            <div class="form-layout-footer button-space">
              <button (click)="exportExcel()" class="btn btn-info">Generar Reporte</button>
            </div><!-- form-layout-footer -->


      </div>
    </div>

    <app-footer></app-footer>
  </div>


</div>
