.table-wrapper {

  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;

  margin-top: 22px;

  margin: 15px;
  padding-bottom: 20px;

}

.button-space {
  margin-top: 20px; /* You can adjust the value as needed */
}

