
<body>
  <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

    <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
      <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> MuniTickets <span class="tx-normal">]</span></div>
      <div class="tx-center mg-b-60">Inicia Sesión para Reportar tus Tickets</div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ingresa tu Correo" name="user" [(ngModel)]="user">
      </div><!-- form-group -->
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Ingresa tu Contraseña" name="password" [(ngModel)]="password">
        <a routerLink="/auth/recover-user" routerLinkActive="active" class="tx-info tx-12 d-block mg-t-10">Olvidaste tu Contraseña?</a>
      </div><!-- form-group -->
      <button type="submit" class="btn btn-info btn-block"  (click)="login()" >Iniciar Sesión</button>

      <div class="mg-t-60 tx-center">No tienes Cuenta? <a routerLink="/auth/register-user" routerLinkActive="active" class="tx-info">Regístrate</a></div>
    </div><!-- login-wrapper -->
  </div><!-- d-flex -->
</body>

